body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F8F9FA;
}

.logo {
    display: block;
    width: 85px;
    height: 85px;
    margin: 24px auto 0;
}

.title {
    font-size: 40px;
    margin-bottom: 16px;
}

.main-container {
    width: 100%;
    height: 100dvh;
    position: relative;
}

.dashboard-container {
    width: 100%;
    height: 100dvh;
    position: relative;
    display: flex;
    align-items: center;
}

.dashboard-content {
    width: 100%;
    height: 100%;
    padding: 1rem;
}

.dashboard-sidebar {
    height: 100%;
    background-color: white;
}

.nav-link {
    color: black;
}

.nav-link.active {
    fill: white;
}

.dashboard-sidebar-logo {
    height: 52px;
}

@media screen and (min-width: 768px) {
    .nav-link {
        padding-right: 80px !important;
    }
}